*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    position: absolute;  /*to remove the black part on the side*/
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif; 

}
.main{
    background-image: url("./assets/IN-en-20240603-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    height: 92vh;
    position: relative;
    /* need to revise this part */
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}
.black{
    height: 92vh;
    width:100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
}
.logo{
    height: 3.5rem;
    width: 9.2rem;
    color: rgb(229, 9, 20);
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
    z-index: 10;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 10;
}
.language{
    text-align: center;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    background: transparent;
    color: white;
}
.sign{
    font-size: 15px;
    color: white;
    background-color:red;
    padding: 7px;
    width: 77px;
    border-radius: 5px;
    border: none;
}
.text{
    color: white;
}
.texts{
    height: 90%;
    width: 90%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    position: relative;
    z-index: 10;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.texts h2{
    font-size: 3rem;
    font-weight: 900;
}
.text:nth-child(2){
    font-size: 1.5rem;
    font-weight: 400;
}
.text:nth-child(3){
    font-size: 1.25rem;
    font-weight: 400;
}

.email{
    color: rgb(255, 255, 255,1);
    padding: 15px;
    width: 300px;
    background-color: grey;
    /* background: transparent; */
    opacity: 0.2;
}
.get{
    padding: 16px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.line{
    width: 100%;
    height: 10px;
    background-color: #282727;
    margin-bottom: 40px;
}
.containers{
    width: 82%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif; 
    margin-bottom: 80px;
}
.second img{
    height: 440px;
}
h2{
    font-size: 3rem;
    font-weight: 900;
}
p{
    font-size: 1.5rem;
}
@media only screen and (max-width:1224px) {
    .containers{
        flex-wrap: wrap;
        text-align: center;
        gap: 50px;
    }
    .line{
        margin-bottom: 30px;
    }
    .third,.fifth{
        flex-wrap: wrap-reverse;
    }
}
.tv{
    position: relative;
}
.tv video{
    height: 239px;
    position: absolute;
    top: 92px;
    right: 84px;    
}
.third img{
    height: 410px;
}
.third_content{
    position: relative;
}
.third .card{
    border: 2px solid grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 280px;
    gap: 19px;
    position:absolute;
    bottom: 35px;
    right: 122px;
    background-color: black;
}
.third .card img{
    height:70px;
}
.card_text p{
    font-size: 20px;
    font-weight: 500;
}
.card_text .dwnd{
    font-size: 14px;
    font-weight: 400;
    color:#0071eb;
}
.circle{
    height: 30px;
    border:2px solid blue;
    border-radius: 50%;
    width: 30px;
}
.fourth_tv{
    position: relative;
}
.fourth_tv img{
    position: relative;
    z-index: 10;
}
.fourth_tv video{
    position: absolute;
    top: 62px;
    right: 131px;
    width: 390px;
    outline: none;
    z-index: 0;
}
.sixth{
    flex-direction: column;
    gap: 10px;
}
.sixth h2{
    margin-bottom: 20px;
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 47, 47);
    width: 100%;
    padding: 10px;
    height: 70px;
}
.bars .plus{
    font-size:65px;
    font-weight: 100;
}
.bars p{
    font-size: 25px;
}
.sitext{
    font-size: 20px;
    margin-top: 20px;
}
.footer{
    width: 82%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-start;
    gap: 25px;
    margin-bottom:60px ;
}
.footer p{
    font-size: 20px;
    font-weight: 100;
}
.rows{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.row{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.row a{
    color: white;
    font-size: 15px;
    font-weight: 100;
}